Repository nexgeniusupc/plantguard-api: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

commit-msg:
  parallel: true
  commands:
    commitlint:
      run: yarn commitlint --edit

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,mjs,cjs,ts}'
      run: yarn eslint --fix --cache {staged_files} && git add {staged_files}
    prettier:
      glob: '*.{js,mjs,cjs,ts,md,yml,yaml,json,jsonc}'
      run: yarn prettier -w {staged_files} && git add {staged_files}

chore: added initial GitHub config
  .github/PULL_REQUEST_TEMPLATE.md
  .github/release.yml
Due: prettier

ci: added initial workflows
  .github/workflows/commits.yml
  .github/workflows/deploy-template.yml
  .github/workflows/deploy.yml
  .github/workflows/node.yml
  .github/workflows/prchecks.yml
  wrangler.toml
Due: prettier

ci: pull wrangler version from `package.json`
  .github/workflows/deploy-template.yml
Due: prettier

ci: pass secrets to reusable deployment workflow
  .github/workflows/deploy.yml
Due: prettier

ci: fix environment deployment url
  .github/workflows/deploy.yml
Due: prettier

ci: ensure corepack is used for Yarn
  .github/workflows/deploy-template.yml
Due: prettier

chore: added license to README [skip ci]
  README.md
Due: prettier

feat(auth): added initial impl of auth service
  .vscode/launch.json
  package.json
  src/api.ts
  src/auth/login.ts
  src/auth/middleware.ts
  src/auth/register.ts
  src/auth/router.ts
  src/index.ts
  src/models/user.ts
  src/services/bcrypt.ts
  src/services/hashing.ts
  src/services/jwt.ts
  src/users/router.ts
  src/utils/env.ts
  src/utils/model-parser.ts
  src/utils/router.ts
  src/utils/types.ts
  src/utils/zod-date.ts
  wrangler.toml
  yarn.lock
Due: eslint, prettier

ci: fix noop deployment wrangler environment
  .github/workflows/deploy-template.yml
Due: prettier

ci: added JWT_TOKEN secret to wrangler
  .github/workflows/deploy-template.yml
Due: prettier

ci: properly fix noop deployment environment
  .github/workflows/deploy-template.yml
Due: prettier

ci: use corepack in all workflows
  .github/workflows/commits.yml
  .github/workflows/node.yml
  .github/workflows/prchecks.yml
Due: prettier

ci(prchecks): update `actions/checkout` and remove `fetch-depth`
  .github/workflows/prchecks.yml
Due: prettier

ci: fix incorrect secret name
  .github/workflows/deploy-template.yml
Due: prettier

feat(devices): created `Device` model
  src/models/device.ts
Due: eslint, prettier

chore: recreate KV namespaces and use wrangler default naming strategy
  wrangler.toml
Due: none

feat(devices): added full (untested) devices service
  src/api.ts
  src/devices/router.ts
  src/devices/utils.ts
  src/models/device.ts
  src/utils/env.ts
  src/utils/pagination.ts
  wrangler.toml
Due: eslint, prettier

fix(devices): incorrect default handling of pagination query params
  src/devices/router.ts
  src/models/device.ts
Due: eslint, prettier

fix(devices): incorrect usage of cursor pagination
  src/devices/router.ts
  src/models/device.ts
  src/utils/pagination.ts
Due: eslint, prettier

fix(devices): allow number coercion for `limit` param
  src/models/device.ts
Due: eslint, prettier

fix(devices): records are not saved correctly in local mode
  src/devices/router.ts
  src/devices/utils.ts
Due: eslint, prettier

refactor(kv): created utils for KV key generation
  src/devices/utils.ts
  src/utils/kv-keys.ts
Due: eslint, prettier

refactor(devices): move registration logic to separate file
  src/devices/register-device.ts
  src/devices/router.ts
Due: eslint, prettier

feat(devices): added initial impl of pairing service
  src/api.ts
  src/models/device.ts
  src/pair/router.ts
  src/pair/utils.ts
  src/utils/crypto.ts
Due: eslint, prettier

refactor(devices): remove direct registration handler
  src/devices/router.ts
Due: eslint, prettier

chore: added `preview_id` for wrangler remote mode
  wrangler.toml
Due: none

chore(release): bump package version to v0.1.0
  package.json
Due: prettier

ci: fix conventional commits workflow error
  .github/workflows/commits.yml
Due: prettier

ci: fix usage of base ref instead of SHA
  .github/workflows/commits.yml
Due: prettier

feat: added device measurement endpoints
  src/devices/router.ts
  src/devices/utils.ts
  src/models/device.ts
Due: eslint, prettier

fix: incorrectly saved userId instead of deviceId during pairing
  src/devices/register-device.ts
  src/pair/router.ts
Due: eslint, prettier

ci: enable corepack before running setup-node
  .github/workflows/commits.yml
  .github/workflows/deploy-template.yml
  .github/workflows/node.yml
  .github/workflows/prchecks.yml
Due: prettier

fix: incorrect type used for DeviceListResponseData
  src/models/device.ts
Due: eslint, prettier

chore(release): bump package to v0.1.1
  package.json
Due: prettier
